body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    
    background-image: url(../IMAGES/background2.jpg);
}   

h1, h2 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
    
}

input[type="text"], input[type="number"], input[type="email"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #5cb85c;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
    
}

thead {
    background-color: #f2f2f2;
}

.actions button {
    margin-right: 5px;
}

.header {
    background-color: #f0f0f0; 
    padding: 10px; 
  


    
}



.header h1 {
    font-size: 28px; 
    margin-bottom: 10px;
    text-align: center;
}


.header nav {
    margin-top: 10px; 
}


.header nav ul {
    list-style-type: none; 
    padding: 0;
    text-align: end;
}


.header nav ul li {
    display: inline; 
    margin-right: 10px; 
    text-align: end;
}


.header nav ul li a {
    text-decoration: none; 
    color: #333; 
    font-weight: bold; 
}


.header nav ul li a:hover {
    color: #007bff; 
}
section{
    padding-top: 80px;
}


.wrapper {
    padding: 20px; 
    background: transparent;
    backdrop-filter: blur(10px);
    border-radius: 15px;
    border: solid 1px black;

}


.wrapper h1 {
    font-size: 24px; 
    margin-bottom: 20px; 
}


.wrapper form {
    margin-bottom: 20px; 
}


.wrapper table {
    width: 100%; 
    border-collapse: collapse; 
}


.wrapper th, .wrapper td {
    padding: 10px; 
    border: 1px solid #ddd; 
    text-align: left; 
}


.wrapper th {
    background-color: #f2f2f2; 
}
.home{
    background-color: azure;
    font-size: 20px;
    height: 250px;
    margin: 30px 30px 30px 30px;
    text-align: center;
    padding-top: 50px;
    
}
.about{
    background-color: azure;
    font-size: 20px;
    height: 400px;
    margin: 30px 30px 30px 30px;
    text-align: center;
    padding-top: 70px;
    margin-top: 100px;
}
.services{
    background-color: azure;
    font-size: 20px;
    height: 400px;
    margin: 30px 30px 30px 30px;
    text-align: center;
    padding-top: 70px;
    margin-top: 100px;
}